body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343A40;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container{
  height: 100%;
  color:white;
}
.form-control:focus{
  color: white;
  background-color: #515a63;
  border-color: #515a63;
}
.form-control{
  color: white;
  background-color: #515a63;
  border-color: #515a63;
}